/* Basic Style */
body {
  background: #f0efe9;
  height: 100vh;
  width: 100vw;
}

p,
button,
input {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  padding: 5px 10px;
  margin: 2px;
}

ul {
  padding: 0;
}

li {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
}

.container {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  margin: 100px auto;
  padding: 80px;
  position: relative;
  width: 585px;
  min-height: 500px;
}

div#login {
  text-align: center;
}

.header {
  font-size: 20px;
  justify-content: space-between;
  letter-spacing: 2px;
  padding: 0 0 35px 0;
  text-align: center;
}

input#username {
  padding: 10px 12px;
  width: 75%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#loginForm button {
  width: 17%;
  background: green;
}

.btn {
  border: 1px solid #ccc;
  padding: 10px 15px;
  background-color: #017f9f;
  color: white;
  border-radius: 50%;
}
.btn-edit,
.btn-delete,
button#fetchList,
button#createList,
#loginForm button {
  color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 12px;
}
.btn-edit {
  background-color: green;
}

.btn-delete {
  background-color: #d80707;
}

button#fetchList {
  background-color: #017f9f;
}

button#createList {
  background-color: #029c7c;
}

/* Edit Task */
ul li input[type="text"] {
  display: none;
}
input#itemName {
  width: 85%;
}

label {
  width: 70%;
  padding: 10px 12px;
  text-align: left;
  font-size: 20px;
}
ul li.editMode input[type="text"] {
  display: block;
  width: 68%;
  padding: 10px 12px;
}

ul li.editMode label {
  display: none;
}

div#groceries-list {
  text-align: center;
}

.hidden {
  display: none;
}

.errorMessage {
  color: red;
  font-size: 16px;
  margin-bottom: 20px;
}
.successMessage {
  color: green;
  font-size: 26px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
